<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ngx-charts-area-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="channels"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-area-chart>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ngx-charts-pie-grid
      [view]="pieView"
      [scheme]="colorScheme"
      [results]="pieChannels"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>
  </div>
</div>
