.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area1 {
  fill: rgba(75, 150, 205, 0.3);
}

.area2 {
  fill: rgba(219, 29, 40, 0.3);
}

.area3 {
  fill: rgba(0, 168, 117, 0.3);
}

.area4 {
  fill: rgba(245, 249, 11, 0.3);
}

