<h1 class="text-center"><span class="capitalized">{{channel}}</span> details</h1>
<div class="status">
  <ul class="traffic-light">
    <li [class.active]="status === 'online'"></li>
    <li [class.active]="status === 'waiting'"></li>
    <li [class.active]="status === 'offline'"></li>
  </ul>
  <span class="capitalized">{{status}}</span>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <!--<ngx-charts-line-chart-->
      <!--[view]="view"-->
      <!--[scheme]="colorSchemeChartRealtime"-->
      <!--[results]="channels"-->
      <!--[gradient]="gradient"-->
      <!--[xAxis]="showXAxis"-->
      <!--[yAxis]="showYAxis"-->
      <!--[legend]="showLegend"-->
      <!--[showXAxisLabel]="showXAxisLabel"-->
      <!--[showYAxisLabel]="showYAxisLabel"-->
      <!--[xAxisLabel]="xAxisLabel"-->
      <!--[yAxisLabel]="yAxisLabel"-->
      <!--[autoScale]="autoScale"-->
      <!--[curve]="curve"-->
      <!--[timeline]="timeline"-->
      <!--[xAxisTickFormatting]="xAxisTickFormatting"-->
      <!--(select)="onSelect($event)">-->
    <!--</ngx-charts-line-chart>-->
    <svg #realTime></svg>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ngx-charts-pie-grid
      [view]="pieView"
      [scheme]="colorScheme"
      [results]="pieChannels"
      (select)="onSelect($event)">
    </ngx-charts-pie-grid>
  </div>
</div>
<ng-container *ngIf="selectedChannel">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="zoom-buttons">
        <button class="zoom-button" *ngFor="let period of zoomPeriods" (click)="zoomGraph(period)"
                [ngClass]="{current: period === currentPeriod}">{{period}}</button>
      </div>
    </div>
  </div>
  <div class="row extra-graph">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorSchemeChart"
        [results]="currentChannel"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [curve]="curve"
        [autoScale]="true"
        [timeline]="timeline"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
  </div>
</ng-container>
