:host /deep/ {
  .legend-label-text {
    color: white;
  }
  svg {
    .tick, [ngx-charts-axis-label], .label {

      fill: white;
    }
  }

  .axis {
    font-family: sans-serif;
    fill: #d35400;
    font-size: 12px;
  }

  .line {
    fill: none;
    stroke: #f1c40f;
    stroke-width: 3px;
  }

  .smoothLine {
    fill: none;
    stroke: #e74c3c;
    stroke-width: 3px;
  }

  .area {
    fill: #e74c3c;
    opacity: 0.5;
  }

  .circle {
    stroke: #e74c3c;
    stroke-width: 3px;
    fill: #fff;
  }

  .grid {
    stroke: #ddd;
    stroke-width: 1px;
    fill: none;
  }

}

.capitalized {
  text-transform: capitalize;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  span {
    margin-left: 10px;
  }
}

.traffic-light {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 6px;
  padding: 5px;
  list-style: none;
  margin-bottom: 0;

  li {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: gray;
    &.active {
      &:nth-child(1) {
        background-color: rgb(139, 210, 47);
      }
      &:nth-child(2) {
        background-color: rgb(231, 186, 8);
      }
      &:nth-child(3) {
        background-color: rgb(249, 83, 114);
      }
    }
  }
}

.zoom-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  .zoom-button {
    padding: 7px;
    margin: 5px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 7px;
    position: relative;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    &:hover {
      cursor: pointer;
    }
    &.current {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}
