@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}

.pie-chart-item {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  .chart {
    font-size: 2.5rem;
  }
  .description-stats {
    font-size: 1.5rem;

  }
}

.block-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 5px;
}

.route {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
